<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 用户管理
        <span class="card-btn-group">
          <button class="btn btn-sm btn-primary" type="button" (click)="addUserModal.show();"><i class="fa fa-plus"></i>&nbsp; 新增</button>
          <button class="btn btn-sm btn-warning" type="button" (click)="editUserFormChecked()?editUserModal.show():null"><i class="fa fa-edit"></i>&nbsp; 编辑</button>
          <button class="btn btn-sm btn-danger" type="button" (click)="deleteUserFormChecked()?deleteUserModal.show():null"><i class="fa fa-close"></i>&nbsp; 删除</button>
          <button class="btn btn-sm btn-success" type="button" (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; 刷新</button>
          <button class="btn btn-sm btn-secondary" type="button" (click)="export()"><i class="fa fa-cloud-download"></i>&nbsp; 导出</button>
        </span>

      </div>
      <div class="card-block">
        <div class="form-group row search-table">
          <label class="form-control-label" for="text-input">用户名：</label>
          <div class="">
            <input type="text" [(ngModel)]="searchParams.username" name="username" class="form-control form-control-sm" placeholder="请输入用户名">
          </div>
          <label class=" form-control-label" for="text-input">工号：</label>
          <div class="">
            <input type="text" [(ngModel)]="searchParams.badge" name="badge" class="form-control form-control-sm" placeholder="请输工号">
          </div>
          <label class=" form-control-label" for="text-input">部门：</label>
          <div class="">
            <select name="depart" [(ngModel)]="searchParams.depart" class="form-control form-control-sm">
              <option *ngFor="let depart of departList" [value]="depart.id">{{ depart.name }}</option>
            </select>
          </div>
          <label class=" form-control-label" for="text-input">角色：</label>
          <div class="">
            <select name="role" [(ngModel)]="searchParams.role" class="form-control form-control-sm">
              <option *ngFor="let role of roleList" [value]="role.id">{{ role.name }}</option>
            </select>
          </div>
          <button class="btn btn-sm btn-primary" type="button" (click)="search()"><i class="fa fa-search"></i>&nbsp; 查询</button>
        </div>

        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th><input #checkedAll type="checkbox" name="userbox" (change)="selectAll(checkedAll.checked)"></th>
              <th *ngFor="let th of theads">{{ th }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList" (click)="user.checked = !user.checked" [class.active]="user.checked">
              <td><input type="checkbox" name="userbox" [(ngModel)]="user.checked"></td>
              <td>{{ user.username }}</td>
              <td>{{ user.badge }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.mobilePhone }}</td>
              <td>{{ user.tel }}</td>
              <td>{{ user.createTime }}</td>
              <td>{{ user.loginCount }}</td>
              <td>{{ user.department }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.remark }}</td>

              <td>
                <button class="btn btn-sm btn-outline-primary" type="button" (click)="editUserFormChecked(user)?editUserModal.show():null">编辑</button>
                <!-- <button class="btn btn-sm btn-outline-primary" type="button" (click)="">打印</button> -->
                <button class="btn btn-sm btn-outline-primary" type="button" (click)="initResetPwdForm(user);resetPwdModal.show()">重置密码</button>
                <button class="btn btn-sm btn-outline-primary" type="button" (click)="deleteUserFormChecked(user)?deleteUserModal.show():null">删除</button>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-comp [totalItems]="totalItems" [currentPage]="currentPage" (changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->

<div bsModal #addUserModal="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false}" (onShow)="initAddUserForm()"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> 新增用户 </h4>
        <button type="button" class="close" (click)="addUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ngAddForm="ngForm" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">用户名</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.username" name="username" maxlength="20" class="form-control form-control-sm"
                placeholder="用户名" required>               
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">密码</label>
            <div class="col-md-9">
              <input type="password" [(ngModel)]="addUserForm.password" name="password" maxlength="20" class="form-control form-control-sm" placeholder="密码" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">确认密码</label>
            <div class="col-md-9">
              <input type="password" [(ngModel)]="addUserForm.confirmPwd" name="confirmPwd" maxlength="20" class="form-control form-control-sm" placeholder="确认密码" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">工号</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.badge" name="badge" class="form-control form-control-sm" placeholder="工号" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">真名</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.name" name="name" class="form-control form-control-sm" placeholder="真名" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">邮箱</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.email" name="email" class="form-control form-control-sm" placeholder="邮箱" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">手机</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.mobilePhone" name="mobilePhone" class="form-control form-control-sm" placeholder="手机" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">固定电话</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.tel" name="tel" class="form-control form-control-sm" placeholder="固定电话" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="select">部门</label>
            <div class="col-md-9">
              <select [(ngModel)]="addUserForm.department" name="depart" class="form-control form-control-sm" required>
                  <option *ngFor="let depart of departList" [value]="depart.id">{{ depart.name }}</option>                
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="select">角色</label>
            <div class="col-md-9">
              <select [(ngModel)]="addUserForm.role" name="role" class="form-control form-control-sm" required>
                  <option *ngFor="let role of roleList" [value]="role.id">{{ role.name }}</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">备注</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addUserForm.remark" name="remark" class="form-control form-control-sm" placeholder="备注">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addUserModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="addUser(ngAddForm.valid,addUserModal)">保存</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-warning modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> 编辑用户 </h4>
        <button type="button" class="close" (click)="editUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ngEditForm="ngForm" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">用户名</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.username" name="username" maxlength="20" class="form-control form-control-sm"
                placeholder="用户名" disabled required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">工号</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.badge" name="badge" class="form-control form-control-sm" placeholder="工号" disabled required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">真名</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.name" name="name" class="form-control form-control-sm" placeholder="真名" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">邮箱</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.email" name="email" class="form-control form-control-sm" placeholder="邮箱" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">手机</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.mobilePhone" name="mobilePhone" class="form-control form-control-sm" placeholder="手机" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">固定电话</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.tel" name="tel" class="form-control form-control-sm" placeholder="固定电话" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="select">部门</label>
            <div class="col-md-9">
              <select [(ngModel)]="editUserForm.department" name="depart" class="form-control form-control-sm" required>
                  <option *ngFor="let depart of departList" [value]="depart.id">{{ depart.name }}</option>                
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="select">角色</label>
            <div class="col-md-9">
              <select [(ngModel)]="editUserForm.role" name="role" class="form-control form-control-sm" required>
                  <option *ngFor="let role of roleList" [value]="role.id">{{ role.name }}</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">备注</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editUserForm.remark" name="remark" class="form-control form-control-sm" placeholder="备注">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editUserModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="editUser(ngEditForm.valid,editUserModal)">保存</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #resetPwdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> 重置密码 </h4>
        <button type="button" class="close" (click)="resetPwdModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #ngResetForm="ngForm" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">用户名</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="resetPwdForm.username" name="username" maxlength="20" class="form-control form-control-sm"
                placeholder="用户名" disabled>
            </div>
          </div>          
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">密码</label>
            <div class="col-md-9">
              <input type="password" [(ngModel)]="resetPwdForm.password" name="password" class="form-control form-control-sm" placeholder="密码" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">确认密码</label>
            <div class="col-md-9">
              <input type="password" [(ngModel)]="resetPwdForm.confirmPwd" name="confirmPwd" class="form-control form-control-sm" placeholder="确认密码" required>
            </div>
          </div>         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resetPwdModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="resetPwd(ngResetForm.valid,resetPwdModal)">保存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" bsModal #deleteUserModal="bs-modal" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">删除用户</h4>
        <button type="button" class="close" (click)="deleteUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>确认删除用户<strong>{{ deleteUserForm.username }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteUserModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="deleteUser(deleteUserModal)">确认</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div name="alert">
  <alert *ngFor="let alert of alerts" [dismissOnTimeout]="alert.timeout" [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
</div>
