<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 站点信息管理
                    <span class="card-btn-group">
              <button class="btn btn-sm btn-primary" type="button" (click)="addModal.show();"><i class="fa fa-plus"></i>&nbsp; 新增</button>
              <button class="btn btn-sm btn-warning" type="button" (click)="checkOperand()?editModal.show():null;"><i class="fa fa-edit"></i>&nbsp; 编辑</button>
              <button class="btn btn-sm btn-danger" type="button" (click)="checkOperand()?deleteModal.show():null"><i class="fa fa-close"></i>&nbsp; 删除</button>
              <button class="btn btn-sm btn-success" type="button" (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; 刷新</button>
              <button class="btn btn-sm btn-secondary" type="button" (click)="importModal.show();currentStep=1;"><i class="fa fa-cloud-upload"></i>&nbsp; 导入</button>
              <button class="btn btn-sm btn-secondary" type="button" (click)="exportModal.show()"><i class="fa fa-cloud-download"></i>&nbsp; 导出</button>
            </span>
    
                </div>
                <div class="card-block">
                        <div class="form-group row search-table">
                                <label class=" form-control-label" for="text-input">气瓶条码：</label>
                                <div class="">
                                     <input type="text" [(ngModel)]="searchParams.cylinderBarcode" name="cylinderBarcode" class="form-control form-control-sm" placeholder="请输入气瓶条码">
                                </div> 
                                <label class="form-control-label " for="text-input">开始时间：</label>
                                <div class="">
                                        <input type="text"  [(ngModel)]="searchParams.beginDate" name="beginDate" maxlength="20" class="form-control form-control-sm" placeholder="开始时间">
                                   </div>
                                <label class=" form-control-label" for="text-input">结束时间：</label>
                                <div class="">
                                    <input type="text" [(ngModel)]="searchParams.endDate"  name="endDate" class="form-control form-control-sm" placeholder="请输入结束时间">
                                </div>   
            
                                <button class="btn btn-sm btn-primary" type="button" (click)="search()"><i class="fa fa-search"></i>&nbsp; 查询</button>
                            </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <!-- <div class="card-header">
                <i class="fa fa-align-justify"></i> 门店气瓶收发
                <span class="card-btn-group">
          <button class="btn btn-sm btn-primary" type="button" (click)="addModal.show();"><i class="fa fa-plus"></i>&nbsp; 新增</button>
          <button class="btn btn-sm btn-warning" type="button" (click)="checkOperand()?editModal.show():null;"><i class="fa fa-edit"></i>&nbsp; 编辑</button>
          <button class="btn btn-sm btn-danger" type="button" (click)="checkOperand()?deleteModal.show():null"><i class="fa fa-close"></i>&nbsp; 删除</button>
          <button class="btn btn-sm btn-success" type="button" (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; 刷新</button>
        <button class="btn btn-sm btn-secondary" type="button" (click)="import()"><i class="fa fa-cloud-upload"></i>&nbsp; 导入</button>
          <button class="btn btn-sm btn-secondary" type="button" (click)="export()"><i class="fa fa-cloud-download"></i>&nbsp; 导出</button>
        </span>

            </div> -->
            <div class="card-block">
                <!-- <div class="form-group row search-table">
                    <label class=" form-control-label" for="text-input">气瓶条码：</label>
                    <div class="">
                         <input type="text" [(ngModel)]="searchParams.cylinderBarcode" name="cylinderBarcode" class="form-control form-control-sm" placeholder="请输入气瓶条码">
                    </div> 
                    <label class="form-control-label " for="text-input">开始时间：</label>
                    <div class="">
                            <input type="text" value="{{ searchParams.beginDate | date:'y-MM-dd'}}" name="beginDate" maxlength="20" class="form-control form-control-sm" placeholder="开始时间"
                            bsDatepicker [(bsValue)]="searchParams.beginDate" (click)="$event.stopPropagation();">
                       </div>
                    <label class=" form-control-label" for="text-input">结束时间：</label>
                    <div class="">
                        <input type="text" value="{{ searchParams.endDate | date:'y-MM-dd'}}" bsDatepicker [(bsValue)]="searchParams.endDate" name="endDate" class="form-control form-control-sm" placeholder="请输入结束时间">
                    </div>   

                    <button class="btn btn-sm btn-primary" type="button" (click)="search()"><i class="fa fa-search"></i>&nbsp; 查询</button>
                </div> -->
                <div class="tab-h">
                <table class="table table-bordered  table-sm">
                    <thead>
                        <tr>
                            <th><input #checkedAll type="checkbox" name="deliverCarbox" (change)="selectAll(checkedAll.checked)"></th>
                            <th *ngFor="let th of theads">{{ th }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let StoreCylinder of StoreCylinderList" (click)="StoreCylinder.checked = !StoreCylinder.checked" [class.active]="StoreCylinder.checked">
                            <td><input type="checkbox" name="deliverCarbox" [(ngModel)]="StoreCylinder.checked" (click)="$event.stopPropagation();"></td>
                            <td>{{ StoreCylinder.storeDate | date: "y-MM-dd"}}</td>
                            <td>{{ StoreCylinder.processName }}</td>
                            <td>{{ StoreCylinder.emptyType }}</td>
                            <td>{{ StoreCylinder.cylinderBarcode }}</td>
                            <td>{{ StoreCylinder.cylinderSpecifications }}</td>
                            <td>{{ StoreCylinder.unit }}</td>
                            <td>{{ StoreCylinder.carNumber }}</td>
                            <td>{{ StoreCylinder.operator}}</td>
                            <td>{{ StoreCylinder.manufacturingUnit }}</td>
                            <td>{{ StoreCylinder.propertyUnit }}</td>
                            <td>{{ StoreCylinder.serialNumber}}</td>
                            <td>{{ StoreCylinder.useTheRegistrationCode }}</td>
                            <td>{{ StoreCylinder.fillingMedia }}</td>
                            <td>{{ StoreCylinder.lastInspectionDate | date: "y-MM-dd"}}</td>
                            <td>{{ StoreCylinder.nextInspectionDate | date: "y-MM-dd"}}</td>
                     
                            <!-- <td>
                                <button class="btn btn-sm btn-outline-primary" type="button" (click)="$event.stopPropagation();checkOperand(StoreCylinder)?editModal.show():null">编辑</button>
                                <button class="btn btn-sm btn-outline-primary" type="button" (click)="$event.stopPropagation();checkOperand(StoreCylinder)?deleteModal.show():null">删除</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- <pagination-comp [totalItems]="totalItems" [currentPage]="searchParams.pageNumber" [itemsPerPage]="searchParams.pageSize" (changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp> -->
            </div>
        </div>
    </div>
  
</div>

<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <pagination-comp [totalItems]="totalItems" [currentPage]="searchParams.pageNumber" [itemsPerPage]="searchParams.pageSize"
                        (changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp>
                </div>
            </div>
        </div>
    </div>


<div class="alert" [class.hide]="alerts<1">
    <alert *ngFor="let alert of alerts" [dismissOnTimeout]="alert.timeout" [type]="alert.type" (onClosed)="alertShift()"><span [innerHtml]="alert.msg"></span></alert>
</div>