<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th><input #checkedAll type="checkbox" name="userbox" (change)="selectAll(checkedAll.checked)"></th>
      <th *ngFor="let th of theads">{{ th }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td><input type="checkbox" name="userbox" [(ngModel)]="user.checked"></td>
      <td>{{ user.username }}</td>
      <td>{{ user.badge }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.mobilePhone }}</td>
      <td>{{ user.tel }}</td>
      <td>{{ user.createTime }}</td>
      <td>{{ user.loginCount }}</td>
      <td>{{ user.department }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.remark }}</td>

      <td>
        <button class="btn btn-sm btn-outline-primary" type="button">编辑</button>
        <button class="btn btn-sm btn-outline-primary" type="button">打印</button>
        <button class="btn btn-sm btn-outline-primary" type="button">重置密码</button>
        <button class="btn btn-sm btn-outline-primary" type="button">删除</button>
      </td>
    </tr>
  </tbody>
</table>
