<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <!-- <div class="card-header">
                <i class="fa fa-align-justify"></i> 气瓶管理
                <span class="card-btn-group">
          <button class="btn btn-sm btn-primary" type="button" (click)="addModal.show();"><i class="fa fa-plus"></i>&nbsp; 新增</button>
          <button class="btn btn-sm btn-warning" type="button" (click)="checkOperand()?editModal.show():null;"><i class="fa fa-edit"></i>&nbsp; 编辑</button>
          <button class="btn btn-sm btn-danger" type="button" (click)="checkOperand()?deleteModal.show():null"><i class="fa fa-close"></i>&nbsp; 删除</button>
          <button class="btn btn-sm btn-success" type="button" (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; 刷新</button>
        <button class="btn btn-sm btn-secondary" type="button" (click)="import()"><i class="fa fa-cloud-upload"></i>&nbsp; 导入</button>
          <button class="btn btn-sm btn-secondary" type="button" (click)="export()"><i class="fa fa-cloud-download"></i>&nbsp; 导出</button>
        </span>

            </div> -->
            <div class="card-block">
                <!-- <div class="form-group row search-table">
                    <label class="form-control-label " for="text-input">公司名称：</label>
                    <div class="">
                        <input type="text" [(ngModel)]="searchParams.chipNum" name="chipNum" class="form-control form-control-sm" placeholder="请输入公司名称">
                    </div>
                    <label class=" form-control-label" for="text-input">公司编号：</label>
                    <div class="">
                        <input type="text" [(ngModel)]="searchParams.cylinderNum" name="cylinderNum" class="form-control form-control-sm" placeholder="请输入公司编号">
                    </div>   
                    <label class=" form-control-label" for="text-input">公司类型：</label>
                    <div class="">
                        <input type="text" [(ngModel)]="searchParams.cylinderNum" name="cylinderNum" class="form-control form-control-sm" placeholder="请输入公司类型">
                    </div>   
                    <button class="btn btn-sm btn-primary" type="button" (click)="search()"><i class="fa fa-search"></i>&nbsp; 查询</button>
                </div> -->

                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th><input #checkedAll type="checkbox" name="deliverCarbox" (change)="selectAll(checkedAll.checked)"></th>
                            <th *ngFor="let th of theads">{{ th }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of companyList" (click)="company.checked = !company.checked" [class.active]="company.checked">
                            <td><input type="checkbox" name="deliverCarbox" [(ngModel)]="company.checked" (click)="$event.stopPropagation();"></td>
                            <td>{{ company.companyName }}</td>
                            <td>{{ company.companyNumber }}</td>
                            <td>{{ company.companyType }}</td>
                            <td>{{ company.contactName }}</td>
                            <td>{{ company.phone }}</td>
                            <td>{{ company.address }}</td>
                            <td>{{ company.description }}</td>
                            <td>{{ company.email}}</td>
                            <td>{{ company.fax }}</td>
                            
                            <!-- <td>
                                <button class="btn btn-sm btn-outline-primary" type="button" (click)="$event.stopPropagation();checkOperand(company)?editModal.show():null">编辑</button>
                                <button class="btn btn-sm btn-outline-primary" type="button" (click)="$event.stopPropagation();checkOperand(company)?deleteModal.show():null">删除</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <pagination-comp [totalItems]="totalItems" [currentPage]="currentPage" (changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

<!-- <div bsModal #addModal="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false}" (onShow)="initAddForm()" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加气瓶</h4>
                <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #ngAddForm="ngForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">芯片编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.chipNum" name="chipNum" maxlength="20" class="form-control form-control-sm"
                                placeholder="请输入芯片编号" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">钢瓶编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.cylinderNum" name="cylinderNum" maxlength="20" class="form-control form-control-sm" placeholder="请输入钢瓶编号"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">生产日期</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.createTime"  name="createTime" maxlength="20" class="form-control form-control-sm" placeholder="请输入生产日期"
                                required>
                       </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">进站日期</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.arrivalTime" name="arrivalTime" maxlength="20" class="form-control form-control-sm" placeholder="请输入进站日期"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">报废日期</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.scrapTime" name="scrapTime" maxlength="20" class="form-control form-control-sm" placeholder="请输入报废日期"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">气瓶规格</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.gasType" name="gasType" maxlength="20" class="form-control form-control-sm" placeholder="请输入气瓶规格"
                                required>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="addModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="add(ngAddForm.valid,addModal)">保存</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #editModal="bs-modal" (onShow)="initEditForm()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-warning modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> 编辑气瓶信息 </h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #ngEditForm="ngForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">芯片编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.chipNum" name="chipNum" maxlength="20" class="form-control form-control-sm" placeholder="请输入芯片编号"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">钢瓶编号</label>
                        <div class="col-md-9">
                            <input type="text"  [(ngModel)]="editForm.cylinderNum" name="cylinderNum" maxlength="20" class="form-control form-control-sm" 
                                placeholder="请输入钢瓶编号" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">生产日期</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.createTime" name="createTime" maxlength="20" class="form-control form-control-sm"
                                placeholder="请输入生产日期" required>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">进站日期</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.arrivalTime" name="arrivalTime" maxlength="20" class="form-control form-control-sm"
                                placeholder="请输入进站日期" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">报废日期</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.scrapTime" name="scrapTime" maxlength="20" class="form-control form-control-sm" placeholder="请输入报废日期"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">气瓶规格</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.gasType" name="gasType" maxlength="20" class="form-control form-control-sm" placeholder="请输入气瓶规格"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">充气时间</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.infTime" name="infTime" maxlength="20" class="form-control form-control-sm" placeholder="请输入充气时间"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">订单编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.orderNum" name="orderNum" maxlength="20" class="form-control form-control-sm" placeholder="请输入订单编号"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="editModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="edit(ngEditForm.valid,editModal)">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" bsModal #deleteModal="bs-modal" (onShow)="initDeleteForm()" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除气瓶</h4>
                <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>确认删除气瓶<strong>{{ deleteForm.chipNum }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="delete(deleteModal)">确认</button>
            </div>
        </div>
        
    </div>
   
</div> -->


<!-- <div class="card">
    <pre class="form-control form-control-sm"><input type="text" value="{{getDate() | date:'y-MM-dd'}}"/></pre>
</div>
<div style="display:inline-block; min-height:280px;width:200px;">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
</div> -->

<div class="alert" [class.hide]="alerts<1">
    <alert *ngFor="let alert of alerts" [dismissOnTimeout]="alert.timeout" [type]="alert.type" (onClosed)="alertShift()"><span [innerHtml]="alert.msg"></span></alert>
</div>