<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <!-- top  -->
        <ng-template ngFor let-toppower [ngForOf]="resourceList">
          <tab *ngIf="toppower.parentNum==''">
            <ng-template tabHeading><i class="icon-calculator"></i> {{ toppower.resName }}</ng-template>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">

                    <ng-template ngFor let-secondpower [ngForOf]="resourceList">
                      <div class="row" *ngIf="secondpower.parentNum==toppower.resNum">
                        <div class="col-md-1 col-sm-2">
                          <strong>{{ secondpower.resName }}</strong>
                        </div>
                        <div class="col-md-11 col-sm-10">
                          <div class="row">

                            <ng-template ngFor let-thirdpower [ngForOf]="resourceList">
                              <div class="col-md-2 col-sm-3" *ngIf="thirdpower.parentNum==secondpower.resNum || thirdpower.resNum==secondpower.resNum">
                                <label for="power" (click)="thirdpower.checked = !thirdpower.checked">
                                <input type="checkbox" [(ngModel)]="thirdpower.checked" name="thirdpower" [value]="thirdpower.resNum" (click)="$event.stopPropagation();"> {{ thirdpower.resName }}
                              </label>
                              </div>
                            </ng-template>

                          </div>
                        </div>
                      </div>
                    </ng-template>

                  </div>
                  <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="button" (click)="null"><i class="fa fa-check"></i>&nbsp; 保存</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </ng-template>
      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
