<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 企业档案信息管理
        <span class="card-btn-group">
              <button class="btn btn-sm btn-primary" type="button" (click)="addModal.show();"><i class="fa fa-plus"></i>&nbsp; 新增</button>
              <button class="btn btn-sm btn-warning" type="button" (click)="checkOperand()?editModal.show():null;"><i class="fa fa-edit"></i>&nbsp; 编辑</button>
              <button class="btn btn-sm btn-danger" type="button" (click)="checkOperand()?deleteModal.show():null"><i class="fa fa-close"></i>&nbsp; 删除</button>
              <button class="btn btn-sm btn-success" type="button" (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; 刷新</button>
              <button class="btn btn-sm btn-secondary" type="button" (click)="importModal.show();currentStep=1;"><i class="fa fa-cloud-upload"></i>&nbsp; 导入</button>
              <button class="btn btn-sm btn-secondary" type="button" (click)="exportModal.show()"><i class="fa fa-cloud-download"></i>&nbsp; 导出</button>
            </span>

      </div>
      <div class="card-block">
        <div class="form-group row search-table">
          <label class="form-control-label" style="margin-top:0.2em;" for="text-input">公司名称：</label>
          <div class="">
            <input type="text" [(ngModel)]="searchParams.companyName" name="companyName" class="form-control form-control-sm" placeholder="请输入公司名称">
          </div>
          <label class=" form-control-label" for="gas">创建人：</label>
          <div class="">
            <input type="text" [(ngModel)]="searchParams.createUser" name="createUser" class="form-control form-control-sm" placeholder="请输入创建人">
          </div>
          <button class="btn btn-sm btn-primary" type="button" (click)="search()"><i class="fa fa-search"></i>&nbsp; 查询</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">


      <div class="card-block ">

        <div class="fixed-table-loading ta-c" *ngIf="loading">
          <img src="assets/img/loading1.gif" alt="">
        </div>
        <div class="fixed-table-loading ta-c" *ngIf="!CompanyList.length && !loading">
          <h5>查不到此信息</h5>
        </div>
        <div class="tab-h" *ngIf="CompanyList.length && !loading">
          <table class="table table-bordered  table-sm ">
            <thead>

              <tr class="mx-0">
                <th><input #checkedAll type="checkbox" name="Companybox" (change)="selectAll(checkedAll.checked)"></th>
                <th *ngFor="let th of theads">{{ th }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Company of CompanyList" (click)="Company.checked = !Company.checked" [class.active]="Company.checked">
                <td><input type="checkbox" name="Companybox" [(ngModel)]="Company.checked" (click)="$event.stopPropagation();"></td>
                <td>{{ Company.companyNumber}}</td>
                <td>{{ Company.companyName}}</td>
                <td>{{ Company.companyType }}</td>
                <td>{{ Company.createUser}}</td>
                <td>{{ Company.address }}</td>
                <td style="min-width:90px">{{ Company.description}}</td>
                <td>{{ Company.contactName}}</td>
                <td>{{ Company.phone }}</td>
                <td>{{ Company.email}}</td>
                <td>{{ Company.fax}}</td>


              </tr>
            </tbody>
          </table>

          <!-- <pagination-comp [totalItems]="totalItems" [currentPage]="searchParams.pageNumber" [itemsPerPage]="searchParams.pageSize"(changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp> -->
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <pagination-comp [totalItems]="totalItems" [currentPage]="searchParams.pageNumber" [itemsPerPage]="searchParams.pageSize"
          (changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp>
      </div>
    </div>
  </div>
</div>

<div class="modal" bsModal #importModal="bs-modal" (onshow)="initCurrentStep()" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">导入客户信息</h4>
        <button type="button" class="close" (click)="importModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="step1" *ngIf="currentStep==1">
          <div class="row ta-c">
            <div style="margin-left:25%;">
              <h6 class="ta-c">点击下载按钮，下载模板表格</h6>
            </div>
            <div style="margin-top:30px;margin-left:-25%;">
              <a class="btn btn-primary" href="../assets/test.xlsx" target="_blank" download="test.xlsx">
                                            <span class="glyphicon glyphicon-download" style="color:#fff;"></span>
                                            <span style=" color:#fff;">下载</span>
                                        </a>
            </div>
          </div>
        </div>
        <div id="step2" *ngIf="currentStep==2">
          <div class="row ">
            <div class="ta-c" style="margin-left:25%;">
              <h6>请按照下载的模板表格中指定的格式填写</h6>
              <p>请添加的一条或多条资产信息</p>
            </div>
            <div>
              <div class="ta-c" style="margin: 30px 0">
                <p>注意：表格中各个列均不能为空，若存在未填写的项，则该条信息可能会导入失败</p>
              </div>
            </div>

          </div>
        </div>
        <div id="step3" *ngIf="currentStep==3">
          <div class="row ">
            <div style="">
              <h5 style="color:#20a8d8;">请点击下面上传文件按钮，上传填写好的资产信息电子表格</h5>
              <p style="color:red;margin-left:25%;">只能上传一个以xls或xlsx结尾的文件</p>

            </div>
            <div>
              <div style="margin: 30px 200px">
                <span class="btn btn-primary btn-file">
                                                    上传文件
                                                    <input id="file" type="file" name="file" nv-file-select=""  accept=".xls,.xlsx"  multiple />
                                                </span>
              </div>
              <div class="file-info" *ngIf="false">
                <span>已添加文件：</span>
                <span class="file-name"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="importModal.hide()"><span>取消</span></button>
        <button class="btn btn-primary" type="button" *ngIf="this.currentStep!==1" (click)="stepChange(-1)"><span>上一步</span></button>
        <button class="btn btn-primary" type="button" *ngIf="this.currentStep<3" (click)="stepChange(1)"><span>下一步</span></button>
        <button class="btn btn-primary" type="button" *ngIf="this.currentStep===3" (click)="import(importModal)"><span>&nbsp;&nbsp;&nbsp;上传&nbsp;&nbsp;&nbsp;</span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" bsModal #exportModal="bs-modal" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">导出企业信息</h4>
        <button type="button" class="close" (click)="exportModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body ta-c">
        <h5>确定导出企业信息？</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="exportModal.hide()">取消</button>
        <a class="" target="_blank">
                    <button type="button" class="btn btn-primary" (click)="export(exportModal)">确认下载</button>
                </a>
      </div>
    </div>
  </div>
</div>

<div bsModal #addModal="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false}" (onShow)="initAddForm()" class="modal fade"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> 增加企业信息 </h4>
        <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>

      <div class="modal-body">
        <form #ngAddForm="ngForm" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司编号</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.companyNumber" name="companyNumber" maxlength="20" class="form-control form-control-sm"
                placeholder="公司编号" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司名称</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.companyName" name="companyName" maxlength="20" class="form-control form-control-sm"
                placeholder="公司名称" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司类型</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.companyType" name="companyType" maxlength="20" class="form-control form-control-sm"
                placeholder="公司类型" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司类型</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.createUser" name="createUser" class="form-control form-control-sm" placeholder="公司类型"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">地址</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.address" name="address" class="form-control form-control-sm" placeholder="地址" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司描述</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.description" name="description" class="form-control form-control-sm" placeholder="公司描述"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">联系人名称</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.contactName" name="contactName" class="form-control form-control-sm" placeholder="联系人名称"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">联系电话</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.phone" name="phone" class="form-control form-control-sm" placeholder="联系电话" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">联系邮件</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.email" name="email" class="form-control form-control-sm" placeholder="联系邮件">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">传真</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="addForm.fax" name="fax" class="form-control form-control-sm" placeholder="传真">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="add(ngAddForm.valid,addModal)">保存</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editModal="bs-modal" (onShow)="initEditForm()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-warning modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> 编辑企业 </h4>
        <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form #ngEditForm="ngForm" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司编号</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.companyNumber" name="companyNumber" maxlength="20" class="form-control form-control-sm"
                placeholder="公司编号" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司名称</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.companyName" name="companyName" maxlength="20" class="form-control form-control-sm"
                placeholder="公司名称" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司类型</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.companyType" name="companyType" maxlength="20" class="form-control form-control-sm"
                placeholder="公司类型" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司类型</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.createUser" name="createUser" class="form-control form-control-sm" placeholder="公司类型"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">地址</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.address" name="address" class="form-control form-control-sm" placeholder="地址" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">公司描述</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.description" name="description" class="form-control form-control-sm" placeholder="公司描述"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">联系人名称</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.contactName" name="contactName" class="form-control form-control-sm" placeholder="联系人名称"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">联系电话</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.phone" name="phone" class="form-control form-control-sm" placeholder="联系电话" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">联系邮件</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.email" name="email" class="form-control form-control-sm" placeholder="联系邮件">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">传真</label>
            <div class="col-md-9">
              <input type="text" [(ngModel)]="editForm.fax" name="fax" class="form-control form-control-sm" placeholder="传真">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="edit(ngEditForm.valid,editModal)">保存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" bsModal #deleteModal="bs-modal" (onShow)="initDeleteForm()" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">删除企业档案信息</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <p>确认删除此企业档案信息<strong>{{ deleteForm.companyName }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="delete(deleteModal)">确认</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="alert" [class.hide]="alerts<1">
  <alert *ngFor="let alert of alerts" [dismissOnTimeout]="alert.timeout" [type]="alert.type" (onClosed)="alertShift()"><span [innerHtml]="alert.msg"></span></alert>
</div>
