<div class="container big-data" >

  <header>
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="row">
          <div class="col-md-12 column logo">
            <img src="/assets/img/home/logo.png" alt="">
            <span>智慧燃气安全大数据统一监管平台</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-12 column home-top-mid">
            <img src="/assets/img/home/visualization-top.png" alt="">
            <span class="header-time">上午11:23:12</span>
            <span class="header-date">2017/8/30</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 column">
        <div class="row">
          <div class="col-md-12 column alarm">
            <div class="col-md-6" style="padding:0;color:white;font-size:1.2rem;text-align:center;line-height:3rem;">
              灾难事件 0
            </div>
            <div class="col-md-6" style="padding:0;color:#f3b400;font-size:1.2rem;text-align:center;line-height:3rem;">
              灾难事件 3
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="content row clearfix">
    <div class="col-md-3 column">
      <div class="row">
        <div class="col-md-12 column" style="border:1px solid #1792ab;width:100%;height:80vh;overflow:auto;margin:0.5rem;background:rgb(16,40,63)">
          <div class="col-xs-3">
            <section class="left">
              <h3>各监管节点</h3>
              <h4 (click)="areaClick('总预览')"><img src="/assets/img/bigData/placename.png" alt="">温州市</h4>
              <ul class="geoList">
                <li *ngFor="let area of alarmData" (click)="areaClick(area.name)">
                  <img src="/assets/img/bigData/position.png"><span >{{ area.name }}</span><b>●</b>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 column">
      <div class="row">
        <div class="col-md-12 column" style="border:1px solid #1792ab;width:100%;height:80vh; margin:0.5rem;overflow:hidden">
          <button (click)="fullScreen()" class="btn btn-info fullScreenBtn">点击全屏</button>
          <div id="main" style="height: 100%" (window:resize)="chartsResize()"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 column">
      <div class="row">
        <div class="col-md-12 column" style="border:1px solid #1792ab;width:100%;height:200px; margin:0.5rem;">
          <section class="right">
            <div class="eventStatus">
              事件状态
            </div>
            <div class="infoStatus">
              信息状态
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 column" style="border:1px solid #1792ab;width:100%;height:200px; margin:0.5rem;">

        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="row clearfix" style="position: absolute;bottom: 0;width: 100%;">
      <div class="col-md-3 column">
      </div>
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-12 column home-bottom-mid">
            <img src="/assets/img/home/visualization-bottom.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-3 column">
      </div>
    </div>
  </footer>
</div>
