<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> 车辆管理
                <span class="card-btn-group">
                      <button class="btn btn-sm btn-primary" type="button" (click)="addModal.show();"><i class="fa fa-plus"></i>&nbsp; 新增</button>
                      <button class="btn btn-sm btn-warning" type="button" (click)="checkOperand()?editModal.show():null;"><i class="fa fa-edit"></i>&nbsp; 编辑</button>
                      <button class="btn btn-sm btn-danger" type="button" (click)="checkOperand()?deleteModal.show():null"><i class="fa fa-close"></i>&nbsp; 删除</button>
                      <button class="btn btn-sm btn-secondary" type="button" (click)="refresh()"><i class="fa fa-refresh"></i>&nbsp; 刷新</button>
                      <button class="btn btn-sm btn-secondary" type="button" (click)="importModal.show()"><i class="fa fa-cloud-upload"></i>&nbsp; 导入</button>
                      <button class="btn btn-sm btn-secondary" type="button" (click)="exportModal.show()"><i class="fa fa-cloud-download"></i>&nbsp; 导出</button>
                    </span>

            </div>
            <div class="card-block">
                <div class="form-group row search-table">
                    <label class="form-control-label " for="text-input">车辆编码：</label>
                    <div class="">
                        <input type="text" [(ngModel)]="searchParams.deliverCarCode" name="deliverCarCode" class="form-control form-control-sm" placeholder="请输入配送车编号">
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block ">
                    <div class="tab-h">
                        <table class="table table-bordered  table-sm ">
                            <thead>
                                <tr>
                                    <th><input #checkedAll type="checkbox" name="deliverCarbox" (change)="selectAll(checkedAll.checked)"></th>
                                    <th *ngFor="let th of theads">{{ th }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deliverCar of deliverCarList" (click)="deliverCar.checked = !deliverCar.checked">
                                    <td><input type="checkbox" name="deliverCarbox" [(ngModel)]="deliverCar.checked" (click)="$event.stopPropagation();"></td>

                                    <!-- <td>{{ deliverCar.timestamp }}</td>
                                    <td>{{ deliverCar.task_id }}</td>
                                    <td>{{ deliverCar.latitud }}</td>
                                    <td>{{ deliverCar.longitude }}</td> -->
                                    
                                    
                                        <td>000001</td>
                                        <td>{{ deliverCar.carLicensePlate }}</td>
                                        <td>17682302558</td>
                                        <td>1049856</td>
                                        <td>浙江省温州市乐清市北白象镇交通东路</td>
                                        <td>乐清市</td>
                                    
                                        <td>{{ deliverCar.taskId}}</td>
                                        <td>{{ deliverCar.timestamp |date:'y-MM-dd' }}</td>
                                        <td (click)="uploadModal.show();"><img src="assets/img/zz.jpg" style="width:25px;height:25px"></td>


                                </tr>
                            </tbody>
                        </table>

                        <!-- <pagination-comp [totalItems]="totalItems" [currentPage]="searchParams.pageNumber" [itemsPerPage]="searchParams.pageSize"(changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <pagination-comp [totalItems]="totalItems" [currentPage]="searchParams.pageNumber" [itemsPerPage]="searchParams.pageSize"
                        (changePage)="changePage($event)" (changeSize)="changeSize($event)"></pagination-comp>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <!-- <div class="modal" bsModal #importModal="bs-modal" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
        tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">导入客户信息</h4>
                    <button type="button" class="close" (click)="importModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
                </div>
                <div class="modal-body">
                    <div id="step1" (onshow)="importModal.currentStep==1">
                        <div class="row modal-row">
                            <div>
                                <h6>点击下载按钮，下载模板表格</h6>
                            </div>
                            <div style="margin-top:30px;">
                                <a class="btn btn-primary" href="data/test.XLSls" target="_blank" download="test.xls">
                                        <span class="glyphicon glyphicon-download" style="color:#fff;"></span>
                                        <span style=" color:#fff;">下载</span>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <div id="step2" (onshow)="importModal.currentStep==2" >
                    <div class="row modal-row">
                                <div >
                                    <h6 >请按照下载的模板表格中指定的格式填写</h6>
                                    <p>请添加的一条或多条资产信息</p>
                                </div>
                                <div style="margin-top:30px;">
                                        <div class="alert alert-info" style="margin: 30px 0">
                                                <p>注意：表格中各个列均不能为空，若存在未填写的项，则该条信息可能会导入失败</p>
                                            </div>
                                </div>
                    </div>
            </div>
            <div id="step3" (onshow)="importModal.currentStep==3" >
                    <div class="row modal-row">
                                <div >
                                        <h5>请点击下面上传文件按钮，上传填写好的资产信息电子表格</h5>
                                        <p style="color:red">只能上传一个以xls或xlsx结尾的文件</p>
                                   
                                </div>
                                <div style="margin-top:30px;">
                                        <div style="margin: 30px 0">
                                                <span class="btn btn-primary btn-file">
                                                上传文件
                                                <input id="file" type="file" name="file" accept=".xls,.xlsx"  multiple />
                                            </span>
                                        </div>
                                </div>
                    </div>
            </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="importModal.hide()">取消</button>
                    <button type="button" class="btn btn-primary" (click)="import(importModal)">确认</button>

                </div>
            </div>
        </div>
    </div> -->
<!-- 
    <div class="modal" bsModal #exportModal="bs-modal" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
        tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">导出车辆信息</h4>
                    <button type="button" class="close" (click)="exportModal.hide()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
                </div>
                <div class="modal-body">
                    <p>确认导出车辆信息？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="exportModal.hide()">取消</button>
                    <a class="" target="_blank">
                <button type="button" class="btn btn-primary" (click)="export(exportModal)">确认下载</button>
            </a>


                </div>
            </div>
        </div>
    </div> -->
    <!-- <div bsModal #addModal="bs-modal" [config]="{ignoreBackdropClick: true, keyboard: false}" (onShow)="initAddForm()" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> 新增配送车 </h4>
                <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #ngAddForm="ngForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">配送车编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.task_id" name="task_id" maxlength="20" class="form-control form-control-sm" placeholder="请输入配送车编号"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">配送车GPS终端ID</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.timestamp" name="timestamp" maxlength="20" class="form-control form-control-sm" placeholder="请输入配送车GPS终端ID"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">配送员编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="addForm.latitud" name="latitud" maxlength="20" class="form-control form-control-sm" placeholder="请输入配送员编号"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="addModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="add(ngAddForm.valid,addModal)">保存</button>
            </div>
        </div>
    </div>
</div> -->
    <!-- <div bsModal #editModal="bs-modal" (onShow)="initEditForm()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-warning modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> 编辑配送员 </h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #ngEditForm="ngForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">配送车编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.deliverCarId" name="deliverId" maxlength="20" class="form-control form-control-sm" placeholder="请输入配送车编号"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">配送车GPS终端ID</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.gpsId" name="gpsId" maxlength="20" class="form-control form-control-sm" placeholder="请输入配送车GPS终端ID"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">配送员编号</label>
                        <div class="col-md-9">
                            <input type="text" [(ngModel)]="editForm.deliverId" name="deliverId" maxlength="20" class="form-control form-control-sm" placeholder="请输入配送员编号"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="editModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="edit(ngEditForm.valid,editModal)">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" bsModal #deleteModal="bs-modal" (onShow)="initDeleteForm()" [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除配送车</h4>
                <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>确认删除配送车<strong>{{ deleteForm.deliverCarId }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">取消</button>
                <button type="button" class="btn btn-primary" (click)="delete(deleteModal)">确认</button>
            </div>
        </div>
        
    </div>
   
</div> -->
<div class="modal" bsModal #uploadModal="bs-modal"  [config]="{animated:false,backdrop: false, ignoreBackdropClick:true}"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-danger " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">上传</h4>
            <button type="button" class="close" (click)="uploadModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
                <div style="margin: 30px 200px">
                        <span class="btn btn-primary btn-file">
                                            上传文件
                                            <input id="file" type="file" name="file"   multiple />
                                        </span>
                    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="uploadModal.hide()">取消</button>
            
        </div>
    </div>
    
</div>

</div> 
    <div class="alert" [class.hide]="alerts<1">
        <alert *ngFor="let alert of alerts" [dismissOnTimeout]="alert.timeout" [type]="alert.type" (onClosed)="alertShift()"><span [innerHtml]="alert.msg"></span></alert>
    </div>