// Here you can add other styles
// body.modal-open{
//   overflow-y: auto !important;
// }
div.search-table{
  padding-right: 15px;
  padding-left: 15px;
}
div.search-table div{
 margin-right: 2rem;
 width: 8rem;
}

.card-header {
  padding: 0.6rem 1rem;
  line-height: 2rem;
}

.card-block {
  padding: 1rem;
}

span.card-btn-group {
  float: right;
}

div.alert {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15rem;
}

input[disabled],
button[disable] {
  cursor: not-allowed;
}

table tr.active {
  background-color: cornsilk !important;
}

input.ng-valid[required],
input.ng-valid.required,
select.ng-valid[required],
select.ng-valid.required {
  /* border-left: 5px solid #42A948;  */
  border-color: rgb(77, 189, 116);
}

input.ng-invalid:not(form),
select.ng-invalid:not(form) {
  /* border-left: 5px solid #a94442; */
  border-color: rgb(248, 108, 107);
}

.hide{
  display: none;
}

div.container {
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100% !important;
  background-size: 100% 100%;
}
div.basic{
  background-image: url(/assets/img/home/home-bg.png);
}
div.big-data{
  background-image: url(/assets/img/home/visualization-bg.jpg);
}

div.logo {
  display: flex;
  margin: 0.5rem;
  height: 3rem;
  border-left: 5px solid #00acf8;
  border-right: 5px solid #00acf8;
}

div.home-top-mid {
  margin: 1rem;
  height: 3rem;
}
div.home-bottom-mid {
  margin: 1rem;
  height: 3rem;
}

div.home-top-mid img {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
}
div.home-bottom-mid img {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
}

span.header-time {
  text-align: center;
  display: block;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: -2rem;
}

span.header-date {
  text-align: center;
  display: block;
  color: white;
  font-size: 1.2rem;
  margin: -0.5rem auto 0 auto;
  font-weight: bold;
}

div.alarm {
  display: flex;
  margin: 0.5rem;
  height: 3rem;
  border-left: 5px solid #f3b400;
  border-right: 5px solid #f3b400;
}

div.logo img {
  height: 3rem;
}

div.logo span {
  display: block;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-left: 15px;
}

ul.home-list {
  color: white;
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid white;
  display: flex;
}

ul.home-list li {
  /* float: left; */
  display: block;
  /* height: 4rem; */
  width: 12.5%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 2rem;
}

ul.home-list li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

ul.home-list li a:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  zoom: 1.3;
}

ul.home-list li a img {
  margin: 0 auto;
  display: block;
  height: 3rem;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
}

ul.sider-item {
  color: white;
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

ul.sider-item li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #182734;
  border-radius: 5px;
  margin: 2px;
  padding: 0.5rem;
  border: 2px solid #182734;
}

ul.sider-item li a {
  display: block;
  text-decoration: none;
  color: white;
}

ul.sider-item li:hover {
  border: 2px solid #17518b;
  // border-style: groove;
}


.card div.card-block {
  background-color: #0a223a;
  color: white;
  font-size: 0.875rem;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #1792ab;
}
.page-item.disabled .page-link {
  color: #20a8d8;
  pointer-events: none;
  background-color: #263238;
  border-color: #263238;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #263238;
  border: 1px solid #263238;
}

::-webkit-scrollbar {
  width: 0px;
  height: 12px;
  }
   
  ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background: #1792ab;
  }
   
  ::-webkit-scrollbar-button {
  display: none;
  }
   
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background: -webkit-gradient(linear,left);
  }
   
  ::-webkit-scrollbar-track-piece {
  background: #0c2745;
  }
  table tr.active {
    background-color: #31708f !important;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
   border: 0px solid #cfd8dc; 
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #1792ab;
}
.table{
  margin-bottom: 0px;
}
.card{
  color: white;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #263238;
  border-bottom: 1px solid #263238;
}
.btn-secondary {
  color: #060505;
  background-color: #F3F9F9;
  border-color: #263238;
 
}
.modal-content{
  background-color: #263238;
  color: white;
}
// .form-group {
//   margin-bottom: 0rem;
// }
.form-control{
  background-color: #263238;
  border-radius: 5px;
}
.close{
  color: white;
}
.card div.card-block .form-group{
  margin-bottom: 0rem;
}
.tab-h{
 height:370px;overflow:auto;
}
.modal-header {
 
  border-bottom: 1px solid #1985ac;
}
.modal-footer {

  border-top: 1px solid #1985ac;
}
.g {
  background-image: -webkit-gradient(linear, left,  right, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
  padding: 1px;
  }
  
  .g > div { background: #fff; }