// Here you can add other styles
// body.modal-open{
//   overflow-y: auto !important;
// }
div.search-table{
  padding-right: 15px;
  padding-left: 15px;
}
div.search-table div{
 margin-right: 2rem;
 width: 8rem;
}

.card-header {
  padding: 0.6rem 1rem;
  line-height: 2rem;
}

.card-block {
  padding: 1rem;
}

span.card-btn-group {
  float: right;
}

div.alert {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15rem;
}

input[disabled],
button[disable] {
  cursor: not-allowed;
}

table tr.active {
  background-color: cornsilk !important;
}

input.ng-valid[required],
input.ng-valid.required,
select.ng-valid[required],
select.ng-valid.required {
  /* border-left: 5px solid #42A948;  */
  border-color: rgb(77, 189, 116);
}

input.ng-invalid:not(form),
select.ng-invalid:not(form) {
  /* border-left: 5px solid #a94442; */
  border-color: rgb(248, 108, 107);
}

.hide{
  display: none;
}